openapi: 3.1.0
info:
  title: Google Cloud Security Command Center Assets Sources API
  description: The Security Command Center API provides programmatic access to manage security findings, assets, sources, and notification configurations across an organization's Google Cloud resources. It enables security teams to detect threats, identify vulnerabilities, and manage compliance posture.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/security-command-center/docs/support
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://securitycenter.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: Sources
  description: Operations for managing security sources
paths:
  /organizations/{organizationId}/sources:
    get:
      operationId: listSources
      summary: Google Cloud Security Command Center List sources
      description: Lists all sources belonging to an organization.
      tags:
      - Sources
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSourcesResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      operationId: createSource
      summary: Google Cloud Security Command Center Create a source
      description: Creates a source within an organization.
      tags:
      - Sources
      parameters:
      - $ref: '#/components/parameters/organizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Source'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
components:
  parameters:
    pageSize:
      name: pageSize
      in: query
      description: The maximum number of results to return
      schema:
        type: integer
    pageToken:
      name: pageToken
      in: query
      description: Token for pagination
      schema:
        type: string
    organizationId:
      name: organizationId
      in: path
      required: true
      description: The organization ID
      schema:
        type: string
  schemas:
    Source:
      type: object
      properties:
        name:
          type: string
          description: The relative resource name of the source
        displayName:
          type: string
          description: The source's display name
        description:
          type: string
          description: The description of the source
    ListSourcesResponse:
      type: object
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        nextPageToken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud
externalDocs:
  description: Security Command Center API Documentation
  url: https://cloud.google.com/security-command-center/docs/reference/rest
