openapi: 3.1.0
info:
  title: Google Cloud Security Command Center Assets API
  description: The Security Command Center API provides programmatic access to manage security findings, assets, sources, and notification configurations across an organization's Google Cloud resources. It enables security teams to detect threats, identify vulnerabilities, and manage compliance posture.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/security-command-center/docs/support
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://securitycenter.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: Assets
  description: Operations for listing and managing cloud assets
paths:
  /organizations/{organizationId}/assets:
    get:
      operationId: listAssets
      summary: Google Cloud Security Command Center List assets
      description: Lists an organization's assets.
      tags:
      - Assets
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageToken'
      - name: filter
        in: query
        description: Expression that defines the filter to apply across assets
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssetsResponse'
components:
  parameters:
    pageSize:
      name: pageSize
      in: query
      description: The maximum number of results to return
      schema:
        type: integer
    pageToken:
      name: pageToken
      in: query
      description: Token for pagination
      schema:
        type: string
    organizationId:
      name: organizationId
      in: path
      required: true
      description: The organization ID
      schema:
        type: string
  schemas:
    ListAssetsResponse:
      type: object
      properties:
        listAssetsResults:
          type: array
          items:
            type: object
            properties:
              asset:
                type: object
                properties:
                  name:
                    type: string
                  securityCenterProperties:
                    type: object
                  resourceProperties:
                    type: object
        nextPageToken:
          type: string
        totalSize:
          type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud
externalDocs:
  description: Security Command Center API Documentation
  url: https://cloud.google.com/security-command-center/docs/reference/rest
